@import "tailwindcss";

@theme {
  --color-app-bg: var(--bg-app);
  --color-app-text: var(--text-app);
  --color-app-border: var(--border-app);
  --color-app-input: var(--input-bg);
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", system-ui, sans-serif;
}

:root {
  --bg-app: #ffffff;
  --text-app: #171717;
  --border-app: #e5e5e5;
  --input-bg: #ffffff;
}

.dark {
  --bg-app: #000000;
  --text-app: #ffffff;
  --border-app: #262626;
  --input-bg: #0a0a0a;
}

@layer base {
  html, body {
    background-color: var(--bg-app);
    color: var(--text-app);
    @apply font-sans transition-colors duration-200 antialiased;
  }
}
